* {
    margin: 0px;
    padding: 0px;

}

.background {
    background: url("jp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
.firsthalf{
    font-size: 50px;
    /* height: 500px; */
    padding-top: 110px;
    padding-left: 50px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    color: rgb(231, 222, 211);
    letter-spacing: 0.03cm;
}
.homeP{
    color: white;
    font-size: 30px;
    padding-left: 50px;
    padding-top: 10px;
    /* position: relative;
    top: -400px; */
}
.hbtn{
    /* padding-left: 50px;
    padding-top: 50px; */
    background-color: rgba(143, 111, 97, 0.504);
    height: 40px;
    width: 150px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    color: rgb(236, 223, 219);
    border-radius: 4px;
}
.box-main2{
    height: 300px;
    background-color: rgb(205, 189, 173);
    display: flex;
    justify-content: center;
}
.img1{
    padding: 50px;
    border-radius: 3px solid white;
}
.img2{
    padding: 50px;
    border-radius: 3px solid white;
}
.img3{
    padding: 50px;
    border-radius: 3px solid white;
}
.anchorh{
    color: white;
    text-align: center;
    font-size: 30px;
    
}
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
}

.navbar {
    /* cursor: pointer 
    position: sticky;
    top: 0; */
    position: fixed;
    width: 100%;
    display: flex;
    background-color: rgb(25, 24, 23);
    align-items: center;
    justify-content: center;
}

.nav-list {
    width: 70%;
    /* background-color: rgb(19, 23, 23); */
    display: flex;
    align-items: center;

}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(244, 236, 236);
}

.nav-list li a:hover {
    color: rgb(109, 214, 205);
}

.rightnav {
    /* background-color: rgb(125, 132, 132); */
    width: 30%;
    text-align: right;
    padding: 25px 23px;
}

.btn1 {
    /* margin-left: -4px; */
    width: 120px;
    font-size: large;
    border-radius: 8px;
    background-color: rgb(122, 215, 235);
    color: rgb(248, 247, 247);
    /* color: white;
    background-color: black;
    border: 3px solid white; */
}

.btn2 {
    width: 120px;
    font-size: large;
    border-radius: 8px;
    background-color: white;
    color: black;
    /* color: white;
    background-color: black;
    border: 3px solid white; */
}

.btn1:hover {
    color: black;
}

.btn2:hover {
    color: rgb(122, 215, 235);
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line {
    width: 33px;
    background-color: rgb(3, 3, 3);
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (max-width: 850px) {
    .nav-list {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
        transition: all 0.1s ease-out;
        height: 420px;
    }

    .rightnav {
        text-align: center;
    }

    .burger {
        display: block;
    }

    .h-nav-resp {
        height: 72px;
    }

    .v-class-resp {
        opacity: 0;
    }
}

.secondscn {
    margin: 0px;
    padding: 0px;
    background: rgb(255, 253, 253) url("in.jpg");
}

.scn-1 {
    color: rgb(10, 9, 9);
    font-size: large;
    text-align: center;
    margin-top: 0px;
    text-decoration: underline;

}



/* pricing.html  */
/* table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    top: 70px;
}

table th {
    background-color: rgb(224, 237, 222);
    height: 30px;
    font-size: 20px;

}

table,
th,
td {
    border: 2px solid gray;
}

caption {
    font-size: 30px;

} */

.background1 {
    background-image: url("pricing.jpg");
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.background2 {
    background-color: rgb(232, 228, 209);
    height: 1000px;
    font-size: 40px;
    text-align: center;
    
}
.box{
    display: flex;
}
.rect-box1 {
    height: 800px;
    width: 20%;
    background-color:white;
    border: 3px solid white;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: 75px;
    margin-bottom: 20px;
    
}
.rect-box2 {
    height: 800px;
    width: 20%;
    background-color: white;
    border: 3px solid white;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: 75px;
    margin-bottom: 20px;
}
.rect-box3 {
    height: 800px;
    width: 20%;
    background-color: white;
    border: 3px solid white;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: 75px;
    margin-bottom: 20px;
}
.rect-box4 {
    height: 800px;
    width: 20%;
    background-color:white;
    border: 3px solid white;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: 75px;
    margin-bottom: 20px;
}

.box1text{
    height: 30px;
    width: 150px;
    background-color: rgb(207, 226, 226);
    border-radius: 20px; ;
    font-size: large;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 75px;
    margin-top: 20px;
    padding-top: 10px;
}
.box2text{
    height: 30px;
    width: 150px;
    background-color: rgb(207, 226, 226);
    border-radius: 20px; ;
    font-size: large;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 75px;
    margin-top: 20px;
    padding-top: 10px;
}
.box3text{
    height: 30px;
    width: 150px;
    background-color: rgb(207, 226, 226);
    border-radius: 20px; ;
    font-size: large;
    color: rgb(0, 0, 0);;
    text-align: center;
    margin-left: 75px;
    margin-top: 20px;
    padding-top: 10px;
}
.box4text{
    height: 30px;
    width: 150px;
    background-color: rgb(207, 226, 226);
    border-radius: 20px; ;
    font-size: large;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 75px;
    margin-top: 20px;
    padding-top: 10px;
}

.box1p1{
    font-size: 20px;
    padding-top: 20px;
    color: rgb(111, 112, 112); 
}
.box1p2{
    padding-top: 30px;
    font-size: 30px;
    color: green;
}
.box1p3{
    padding-top: 10px;
    font-size: 15px;
    color: rgb(9, 9, 9);
}
.box2p1{
    font-size: 20px;
    padding-top: 20px;
    color: rgb(111, 112, 112); 
}
.box2p2{
    padding-top: 30px;
    font-size: 30px;
    color: green;
}
.box2p3{
    padding-top: 10px;
    font-size: 15px;
    color: rgb(9, 9, 9);
}
.box3p1{
    font-size: 20px;
    padding-top: 20px;
    color: rgb(111, 112, 112); 
}
.box3p2{
    padding-top: 30px;
    font-size: 30px;
    color: green;
}
.box3p3{
    padding-top: 10px;
    font-size: 15px;
    color: rgb(9, 9, 9);
}
.box4p1{
    font-size: 20px;
    padding-top: 20px;
    color: rgb(111, 112, 112); 
}
.box4p2{
    padding-top: 30px;
    font-size: 30px;
    color: green;
}
.box4p3{
    padding-top: 10px;
    font-size: 15px;
    color: rgb(9, 9, 9);
}
.startbtn{
    background-color: rgba(223, 79, 39, 0.936);
    height: 40px;
    width: 150px;
    margin-top: 50px;
}
.pfirsthalf {
    font-size: 30px;
    height: 200px;
    width: 100%;
    padding-top: 100px;
    text-align: center;
    color: aliceblue
}

/* sign-up*/
.account {
    position: relative;
    top: 120px;
    width: 360px;
    height: 500px;
    margin: auto;
    background-color: rgb(226, 228, 238);
    border-radius: 4px;
}

h2 {
    position: relative;
    left: 120px;
    font-size: 30px;
}

.p3 {
    position: relative;
    left: 20px;
    top: 30px;
}

.p4 {
    position: relative;
    left: 20px;
    top: 40px;
}

form {
    padding: 0 20px;

}

#a,
#b,
#c,
#d,
#e {
    position: relative;
    top: 1px;
    border-radius: 4px;
    display: flex;
    margin-top: 20px;
    width: 95%;
}

form input {
    /* width: 80%; */
    padding: 7px;
    position: relative;
    top: -100px;

    /* outline: none; */
}

#f {
    position: relative;
    top: 16px;
    border-radius: 4px;
    width: 320px;
    height: 35px;
    margin-top: 20px;
    background-color: rgb(199, 197, 211);

}


/* login */
.loginbox {
    position: relative;
    top: 120px;
    width: 360px;
    height: 280px;
    margin: auto;
    background-color: rgb(226, 228, 238);
    border-radius: 4px;

}

#c,
#d {

    border-radius: 4px;
    display: flex;
    margin-top: 20px;
    width: 95%;
}

h3 {
    position: relative;
    text-align: center;
    /* left: 140px;    */
    font-size: 30px;
}

.p5 {
    position: relative;
    left: 20px;
    top: 40px;
}

.para-3 {
    text-decoration: none;
}

.para-2 {
    text-decoration: none;
}

/* about.html */
.abtbackground1{
    height: 100vh;
    background: url("images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    flex-direction: row-reverse;
}
.abtbox{
    /* position: relative; */
    width: 50%;
    margin-top: 75px;
    background: rgba(255, 255, 254, 0.74);
    /* height: 100vh; */
    display: table-column;
}
.abth{
    font-size: 70px;
    letter-spacing: 0.05em;
    font-family: museo-w01-700,serif;
    padding-left: 30px;
    padding-top: 150px;
    color: brown;
}
.abtp{
    font-size: large;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 50px;
    /* position: relative;
    top: 30px;
    left: 30px; */
}
.abtbackground2{
    background-color: rgb(221, 197, 177);
    height: 500px;
    text-align: center;
    font-size: 35px;
    vertical-align: baseline;
}
.abtdetails{
    display: flex;
    /* padding-left: 500px; */
    padding-top: 50px;
    font-size: large;
    justify-content: center;
    
    
}
.nameclass{
    padding-right: 30px;
    
}
.emailclass{
    padding-left: 30px;
}
.na{
    padding-right: 40px;
    padding-bottom: 7px;
}
.em{
    padding-right: 40px;
    padding-bottom: 7px;
}
.NA{
    width: 250px;

}