*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-image: url("https://img.freepik.com/free-vector/copy-space-wavy-white-background-layers_23-2148845469.jpg?w=2000");
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
}

.navbar{
    display: flex;
    background-color: rgb(198, 183, 162);
    align-items: center;
    justify-content: center;

}

.nav-list{
    width: 70%;
    /* background-color: rgb(19, 23, 23); */
    display: flex;
    align-items: center;

}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(14, 13, 13);
}
.nav-list li a:hover{
    color: rgb(252, 245, 245);
}

.rightnav{
    /* background-color: rgb(125, 132, 132); */
    width: 30%;
    text-align: right;
    padding: 25px 23px;
}
.btn1{
    /* margin-left: -4px; */
    width: 120px;
    font-size: large;
    border-radius: 8px;
    background-color: rgb(122, 215, 235);
    color: rgb(248, 247, 247);
    /* color: white;
    background-color: black;
    border: 3px solid white; */
}
.btn2{
    width: 120px;
    font-size: large;
    border-radius: 8px;
    background-color: white;
    color: black;
    /* color: white;
    background-color: black;
    border: 3px solid white; */
}
.btn1:hover{
    color: black;
}
.btn2:hover{
    color: rgb(122, 215, 235);
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: rgb(3, 3, 3);
    height: 4px;
    margin: 5px 3px;
}
@media only screen and (max-width: 850px){
   .nav-list{
    flex-direction: column;
   } 
   .navbar{
    flex-direction: column;
    transition: all 0.1s ease-out;
    height: 420px;
   }
   .rightnav{
    text-align: center;
   }
   .burger{
    display: block;
   }
   .h-nav-resp{
        height: 72px;
   }
   .v-class-resp{
        opacity: 0;
   }
}


/* pricing.html  */
table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    top: 40px;
}
table th{
    background-color: rgb(224, 237, 222);
    height: 30px;
    font-size: 20px;

}
table,th,td {
    border: 2px solid gray;
}
caption{
    font-size: 30px;
    
}

/* sign-up*/
.account{
    position: relative;
    top: 40px;
    width: 360px;
    height: 500px;
    margin: auto;
    background-color: rgb(226, 228, 238);
    border-radius: 4px;
}
h2{
    position:relative ;
    left: 120px;   
    font-size: 30px;
}
.p3{
    position: relative;
    left: 20px;
    top: 30px;
}
.p4{
    position: relative;
    left: 20px;
    top: 40px;
}
form{
    padding: 0 20px; 
    
}
#a,#b,#c,#d,#e{
    position: relative;
    top: 1px;
    border-radius: 4px;
    display: flex;
    margin-top: 20px;
    width: 95%;
}
form input{
    /* width: 80%; */
    padding: 7px;
    position: relative;
    top: -100px;
    
    /* outline: none; */
}
#f{
    position: relative;
    top: 16px;
    border-radius: 4px;
    width:320px;
    height: 35px;
    margin-top: 20px;
    background-color: rgb(199, 197, 211);
    
}


/* login */
.loginbox{
    position: relative;
    top: 40px;
    width: 360px;
    height: 280px;
    margin: auto;
    background-color: rgb(226, 228, 238);
    border-radius: 4px;
    
}
#c,#d{
    
    border-radius: 4px;
    display: flex;
    margin-top: 20px;
    width: 95%;
}
h3{
    position:relative;
    text-align: center;
    /* left: 140px;    */
    font-size: 30px;
}
.p5{
    position: relative;
    left: 20px;
    top: 40px;
}
.para-3{
    text-decoration: none;
}
.para-2{
    text-decoration: none;
}

